div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;


}
h2{
    background-color: rgb(119, 119, 119);
    border: solid 2px black;
    width: 300px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    box-shadow:0 0  10px black;
    border-radius: 40px;

}