img{
    width: 300px;
    height: 300px;
    display: inline-block;
}
.img1{
    display: inline-block;
}
.a1:hover{
    transform:rotate(20deg);
}
.A2:hover{
    transform: rotateY(45deg);
}
.A3:hover{
    transform:skew(20deg);
}
.A4:hover{
    transform:translate(40px);
}